{{ $currentFileBaseName := printf "%s/" .File.ContentBaseName }}
{{ with index .Ancestors 0 }}
  {{ $parentPath := .Permalink }}
  {{ $sections := .Params.Sections }}
  {{ $totalSections := len $sections }}
  {{ range $index, $section := $sections }}
    {{ if eq $section.url $currentFileBaseName }}
      <div class="{{ if and (gt $index 0) (lt $index (sub $totalSections 1)) }}grid grid-cols-2 gap-4{{ else }}full-width{{ end }}">
        <!-- Button to the previous page -->
        {{ if gt $index 0 }}
          <a href="{{ printf "%s%s" $parentPath (index $sections (sub $index 1)).url }}" class="w-full">
            <div class="flex justify-between  p-4 bg-neutral-200 dark:bg-neutral-700 rounded-lg mb-4 col-span-1">
              <div>
                <div class="dark:text-neutral-200 text-xl font-bold">Previous ({{ $index }} of {{ $totalSections }})</div>
                <div class="dark:text-neutral-200 text-xl font-bold">{{ (index $sections (sub $index 1)).title }}</div>
                <div class="dark:text-neutral-200 text-neutral-600">{{ (index $sections (sub $index 1)).description }}</div>
              </div>
            </div>
          </a>
        {{ end }}
        <!-- Button to the next page -->
        {{ if lt $index (sub $totalSections 1) }}
          <a href="{{ printf "%s%s" $parentPath (index $sections (add $index 1)).url }}" class="w-full">
            <div class="flex justify-between p-4 bg-neutral-200 dark:bg-neutral-700 rounded-lg col-span-{{ if gt $index 0 }}1{{ else }}2{{ end }}">
              <div>
                <div class="dark:text-neutral-200 text-xl font-bold">Next ({{ add $index 2 }} of {{ $totalSections }})</div>
                <div class="dark:text-neutral-200 text-xl font-bold">{{ (index $sections (add $index 1)).title }}</div>
                <div class="dark:text-neutral-200 text-neutral-600">{{ (index $sections (add $index 1)).description }}</div>
              </div>
            </div>
          </a>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}
