<div class="bg-theme-light bg-green-400 rounded p-8">
  <ul class="space-y-4">
    {{ $sections := getJSON "assets/sections.json" }}
    {{ range $sections.sections }}
      <li>
        <h2 id="{{ .name | urlize }}"  class="mb-2 px-0 py-0 pr-1 font-normal">{{ .name }}</h2>
<ul class="space-y-4">
  {{ $section := . }}
  <!-- Collect matching pages into a slice -->
  {{ $matchingPages := slice }}
  {{ range where $.Site.RegularPages "Section" "foundation-model-resources" }}
    {{ $sectionID := .Params.section_id | int }}
    {{ $sectionNumber := $section.number | int }}
    {{ if eq $sectionID $sectionNumber }}
      {{ $matchingPages = $matchingPages | append . }}
    {{ end }}
  {{ end }}
  <!-- Sort the slice by section_id -->
  {{ $sortedPages := sort $matchingPages "Params.section_id" "asc" }}
  {{ range $sortedPages }}
    <!-- Display content for matching pages -->
    <li class="flex items-center justify-between align-text-top">
      <a class="hover:text-primary dark:hover:text-darkmode-primary flex items-center ml-4"
         href="{{ .Permalink }}" style="min-width: 150px;">
        {{ partial "image" (dict "Src" .Params.image "Context" .Page
        "Alt" .Title "Size" "112x63" "Command" "Fit" "Class" "m-0 p-0") }}
        <div class="flex flex-col justify-center ml-4"> <!-- Center text along vertical axis -->
          <h3 class="font-normal">{{ .Params.short_name }}</h3>
          <p>{{ .Description }}</p> <!-- Description on a new line -->
        </div>
      </a>
      {{ $data := getJSON "assets/resources.json" }}
      {{ $filteredData := where $data "categories" "intersect" (.Params.short_name | slice) }}
      {{ $filteredDataVision := where $filteredData "modalities" "intersect" (slice "Vision") }}
      {{ $entryCount := len $filteredData }}
      {{ $filteredDataVision := len $filteredDataVision }}
      <span
        class="dark:bg-slate-700 dark:text-white bg-gray-300 font-bold text-center text-black px-2 py-1 rounded-lg"
        style="min-width: 40px; margin-left: auto;"> <!-- Align count to the right -->
        {{ $entryCount }}
      </span>
      <span
        class="dark:bg-slate-700 dark:text-white bg-green-300 font-bold text-center text-black px-2 py-1 rounded-lg"
        style="min-width: 40px; margin-left: auto;"> <!-- Align count to the right -->
        <i class="fas fa-eye fa-lg pr-2"></i> {{ $filteredDataVision }}
      </span>

    </li>
    <!-- Add more content display as needed -->
  {{ end }}
</ul>
      </li>
    {{ end }}
  </ul>
</div>
