<p class="bg-gray-200 dark:bg-darkmode-theme-dark p-2 rounded-lg text-lg flex items-center justify-end">
  <span class="mr-2 dark:text-white text-black">
    Content License:
  </span>
  {{ if eq .Params.license "Apache 2.0" }}
    <a href="LICENSE.txt" target="_blank" rel="noopener noreferrer" class="py-1 px-2 bg-green-200 text-black dark:bg-green-600 dark:text-white rounded-md hover:bg-green-300 dark:hover:bg-green-500">
      {{ .Params.license }}
    </a>
  {{ else }}
    <span class="py-1 px-2 bg-green-200 text-black dark:bg-green-600 dark:text-white rounded-md">
      {{ .Params.license }}
    </span>
  {{ end }}
</p>
