<div class="bg-transparent dark:bg-transparent md:mb-4">
  {{ $pageDir := path.Base .File.Dir }}

  {{ if eq $pageDir "rvc-models-ai-voice" }}
  <div class="bg-transparent dark:bg-transparent">
    <div
      class="audio-container expanded rounded"
      style="padding-bottom: 43.86%;background-image:url('{{ .Params.image }}')">
      <div class="artistname">{{ .Params.artist }}</div>
      <a href="{{ .RelPermalink }}" class="btn-sm btn btn-primary"
      >More Songs & Genres</a>

      <audio class="audio-player player3" controls preload="none">
        <source
          src="https://files.aimodels.org/voices/htdemucs/when-i-get-home-139044/vocals/{{ .Params.model_id }}/vocals_ai_blended.mp3"
          type="audio/mpeg"/>
        Your browser does not support the audio element.
      </audio>
      <audio class="audio-player player2" controls preload="none">
        <source
          src="https://files.aimodels.org/voices/htdemucs/female-hip-hop-141962/vocals/{{ .Params.model_id }}/vocals_ai_blended.mp3"
          type="audio/mpeg"/>
        Your browser does not support the audio element.
      </audio>
      <audio class="audio-player player1" controls preload="none">
        <source
          src="https://files.aimodels.org/voices/htdemucs/pass-love-along-vernon-maytone-brotheration-reggae-141308/vocals/{{ .Params.model_id }}/vocals_ai_blended.mp3"
          type="audio/mpeg"/>
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  {{ end }}
  <div class="card-title dark:text-white mb-12 md:mb-0">
    <a href="{{ .RelPermalink }}">
      {{ .Title }} &nbsp;<span class="btn btn-sm btn-outline-primary">Explore</span>
    </a>
  </div>
</div>
