{{ $sectionName := .sectionName }}
{{ $section := .section }}
{{ $maxModels := .maxModels }}
{{ $limitedModels := slice }}

{{ with $section }}
  {{ range .Pages }}
    {{ if in .File.Dir $sectionName }}
      {{ if .Params.highlight }}
      {{ $limitedModels = $limitedModels | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $limitedModels := first $maxModels $limitedModels }}


<div class="row">
  {{ range $limitedModels }}
    <div class="lg:col-6 md:col-6">
      {{ partial "components/model-card" . }}
    </div>
  {{ end }}
</div>
<div class="text-left mt-4 mb-6">
  {{ with $section }}
    <a href="{{ .RelPermalink }}" class="btn btn-outline-primary btn-sm"
      >Explore {{ len .RegularPages }} {{ .Title }}</a
    >
  {{ end }}
</div>
