<!--<div class="mb-8">-->
<!--  <h2 class="mb-6">{{ .Page.Title }} Communities</h2>-->
<!--  <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8">-->
<!--    <ul class="space-y-4">-->
<!--      {{ $section := site.GetPage "section" "ai-communities" }}-->
<!--      {{ $contentBaseName := .File.ContentBaseName }}-->
<!--      {{ $filteredCommunities := slice }}-->
<!--      {{ range $section.Pages }}-->
<!--        {{ $commPage := . }}-->
<!--        &lt;!&ndash; Capture pointer to current community item &ndash;&gt;-->
<!--        {{ with .Params.domains }}-->
<!--          {{ range . }}-->
<!--            {{ if eq . $contentBaseName }}-->
<!--              {{ $filteredCommunities = $filteredCommunities | append $commPage }}-->
<!--              &lt;!&ndash; Append community page, not domain &ndash;&gt;-->
<!--            {{ end }}-->
<!--          {{ end }}-->
<!--        {{ end }}-->
<!--      {{ end }}-->

<!--      {{ range $filteredCommunities }}-->
<!--        <li>-->
<!--          <a-->
<!--            class="text-xl font-semibold hover:text-primary dark:hover:text-darkmode-primary flex justify-between"-->
<!--            href="{{ .Permalink }}">-->
<!--            {{ .Title }}-->
<!--          </a>-->
<!--        </li>-->
<!--      {{ end }}-->
<!--<li class="text-right">-->
<!--  <a href="/collaboration-network/" class="flex items-center">-->
<!--    <span class="ml-auto btn btn-sm btn-primary flex items-center">-->
<!--      <span class="mr-2">Add Community</span>-->
<!--      <i class="fas fa-plus-circle dark:text-black text-white text-2xl"></i>-->
<!--    </span>-->
<!--  </a>-->
<!--</li>-->

<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
