{{ define "main" }}

{{ $data := getJSON "assets/resources.json" }}
{{ $filteredData := where $data "categories" "intersect" (.Params.short_name | slice) }}
{{ $entryCount := len $filteredData }}

<section>
  <div class="container text-left">
    <div
      class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8
        pt-12 pb-6">
      <h1 class="font-normal text-h1-sm">{{ .Title | title }}</h1>
<!--      <p>{{ .Description }}</p>-->
      <p>{{ .Content }}</p>
      <div class="mt-6 flex items-end justify-between">
        {{ partial "components/breadcrumb" (dict "Context" . "Class" "align-text-bottom") }}
      </div>
    </div>
  </div>
</section>
<section class="section pt-7 pb-2">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-12">
        <div class="row">
          <div class="content lg:col-7 text-xl">
            <p>{{ .Params.Details }}</p>
          </div>
          <div class="lg:col-5 pb-4">
            {{ if .Params.image }}
            {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "w-full rounded-xl sm:hidden lg:block" "Size"
            "736x" "Command" "Resize") }}
            {{ end }}
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="section pt-2">
  <div class="container">
    <div class="row justify-center">
      <article class="xl:col-12">
        <div class="content mb-10">
          <div class="flex justify-between items-center">
<h2 class="pb-0 font-normal">{{ .Params.short_name }}</h2>
            <div class="pb-0">
              <a class="btn-primary btn btn-sm" href="/contribute/">
                <i class="fas pb-1 fa-circle-plus text-3xl pr-2" style="vertical-align: middle;"></i> Add Resource</a>
            </div>
          </div>
          {{ partial "components/tool-list" . }}
        </div>
      </article>
    </div>
  </div>
</section>
{{ end }}

