{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="text-center">Contact Us</h1>
          <p class="text-center">
            We are here to help and answer any question you might have. We look forward to hearing from you.
            <br>Reach out to us at<br>contact@aimodels.org
          </p>
        </div>
      </div>
    </div>
  </section>
<!-- <script src="https://www.google.com/recaptcha/api.js"></script>-->

<!--  <section class="section-sm">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="md:col-10 lg:col-6 mx-auto">-->
<!--          <form action="{{ site.Params.contact_form_action }}" id="contact" method="POST">-->
<!--            <div class="mb-6">-->
<!--              <label for="name" class="form-label">-->
<!--                Full Name <span class="text-red-500">*</span>-->
<!--              </label>-->
<!--              <input-->
<!--                id="name"-->
<!--                name="name"-->
<!--                class="form-input"-->
<!--                placeholder="John Doe"-->
<!--                type="text" />-->
<!--            </div>-->
<!--            <div class="mb-6">-->
<!--              <label for="email" class="form-label">-->
<!--                Working Mail <span class="text-red-500">*</span>-->
<!--              </label>-->
<!--              <input-->
<!--                id="email"-->
<!--                name="email"-->
<!--                class="form-input"-->
<!--                placeholder="john.doe@email.com"-->
<!--                type="email" />-->
<!--            </div>-->
<!--            <div class="mb-6">-->
<!--              <label for="message" class="form-label">-->
<!--                Anything else? <span class="text-red-500">*</span>-->
<!--              </label>-->
<!--              <textarea-->
<!--                id="message"-->
<!--                name="message"-->
<!--                class="form-input"-->
<!--                placeholder="Message goes here..."-->
<!--                rows="8"></textarea>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary g-recaptcha"-->
<!--            data-sitekey="6Lft6SgjAAAAAD18DpRQECjh9gL4jgbu5K5bwaMT"-->
<!--            data-callback='onSubmit'-->
<!--            data-action='submit'-->
<!--            >Submit</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<!-- <script>-->
<!--   function onSubmit(token) {-->
<!--     document.getElementById("contact").submit();-->
<!--   }-->
<!-- </script>-->

{{ end }}
